.kanbanboard {
	width:100%;
	height:auto; 
	background: #f5f5f5; 
	display: flex; 
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	
	-moz-box-shadow:    inset 0 0 5px #000000;
	-webkit-box-shadow: inset 0 0 5px #000000;
	box-shadow:         inset 0 0 5px #000000;
	
	border-radius: 5px;
	
	align-items: flex-start;
	
}

.kanban-list {
	width: 300px;
	background: #e0e0e0; 
	margin: 10px;
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	border: 2px solid grey;
	max-height: 1000px;
	overflow: auto;
}

.kanban-list-title {
	float: left;
}

.kanban-list-button {
	background: none;
	border: 0;
	padding: 5px;
	border-radius: 5px;
}

.kanban-list-button:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}

.kanban-list-header-button {
	float: right;
}

.kanban-list-footer-button {
	float: left;
	width: 100%;
	text-align: left;
}

.kanban-list-header {
	margin-bottom: 5px;
	background-color: grey;
	padding: 5px;
	cursor: pointer;
}

.kanban-list-footer {
	margin-top: auto;
	background-color: grey;
	padding: 5px;
}

.kanban-item {
	margin: 5px;
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	padding: 5px;
	-moz-box-shadow: 0px 2.5px 0px 0px #ccc;
	-webkit-box-shadow: 0px 2.5px 0px 0px #ccc;
	box-shadow: 0px 2.5px 0px 0px #ccc;
}

.kanban-item:hover {
	cursor: pointer;
	background: #f0f0f0;
}

.kanban-item-row {
	margin: 5px 0px 5px 0px;
}

.kanban-item-image {
	width: 100%;
	height: auto;
}

.kanban-item-icon {
	margin: 0px 5px 0px 5px;
}

.kanban-item-label {
	height: 25px;
	width: 25px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	margin: 0px 2px 0px 2px;
}

/* Card list Scrollbar */

/* width */
.kanban-list::-webkit-scrollbar {
	width: 3px;
}

/* Track */
.kanban-list::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 20px;
}
 
/* Handle */
.kanban-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
.kanban-list::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Main Container Scrollbar */

.kanbanboard::-webkit-scrollbar {
	height: 7px;
}

/* Track */
.kanbanboard::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 20px;
}
 
/* Handle */
.kanbanboard::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
.kanban-list::-webkit-scrollbar-thumb:hover {
  background: #555; 
}