$kanbanboardBackgroundBorder: "#ccc solid";
$kanbanboardListBorder: "2px solid grey";

.kanbanboard {
    width: 100%;
    height: 1000px;
    border:1px $kanbanboardBackgroundBorder;
	overflow-x: auto;
    overflow-y: hidden;
}

.kanbanboard-inline {
	height: 100%;
    display: inline-block;
}

.kanbanboard-container {
	display: flex;
	align-items: flex-start;
	height: 100%;
    flex-direction: row;
    padding: 5px;
}
.kanbanboard-list {
	float: none;
	max-width: 300px;
	min-width: 300px;
	display:flex;
	flex-direction: column;
	max-height: 95%;
	overflow-y: hidden;
	border: $kanbanboardListBorder;
    margin: 5px;
	background: #d1d8e0;
	border-radius: 5px;
}

.kanban-list-title {
	height: 100%;
	padding: 5px;
}

.kanban-list-button {
	background: none;
	border: 0;
	padding: 5px;
	border-radius: 5px;
}

.kanban-list-button:hover {
	background-color: #a5b1c2;
	cursor: pointer;
}

.kanban-list-footer-button {
	width: 100%;
	text-align: left;
	padding: 10px;
	border-radius: 0px;
}

.kanban-list-header {
	padding: 5px;
	cursor: pointer;
	background-color: #2d98da;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.kanban-list-footer {
	background-color: #778ca3;
}

.kanban-list-content {
	min-height: unset;
	position: relative;
	overflow-y: auto;
	overflow-anchor: none;
}

.kanban-item {
	margin: 10px 5px 10px 5px;
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	padding: 5px;
	-moz-box-shadow: 0px 4.0px 0px 0px #ccc;
	-webkit-box-shadow: 0px 4.0px 0px 0px #ccc;
	box-shadow: 0px 4.0px 0px 0px #ccc;
	min-height: 35px;
	justify-content: center;
}

.kanban-item:hover {
	cursor: pointer;
	background: #f0f0f0;
}

.kanban-item-row {
	margin: 0px 0px 10px 0px;
}

.kanban-item-image {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.kanban-item-icon {
	margin: 0px 5px 0px 5px;
}

.kanban-item-label {
	height: 25px;
	width: 25px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	margin: 0px 2px 0px 2px;
}

/* Card list Scrollbar */

/* width */
.kanban-list-content::-webkit-scrollbar {
	width: 3px;
}

/* Track */
.kanban-list-content::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 20px;
}
 
/* Handle */
.kanban-list-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
.kanban-list-content::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Main Container Scrollbar */

.kanbanboard::-webkit-scrollbar {
	height: 7px;
}

/* Track */
.kanbanboard::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 20px;
}
 
/* Handle */
.kanbanboard::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
.kanban-list::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* List Dropdown */
.kanban-list-header-button {
	position: relative;
	display: inline-block;
}
  
.kanban-list-header-button-dropdown {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	right: 0;
}
  
.kanban-list-header-button-dropdown p {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
.kanban-list-header-button-dropdown p:hover {background-color: #f1f1f1}
  
.kanban-list-header-button:hover .kanban-list-header-button-dropdown {
	display: block;
}

.kanbanboard-sortable-placeholder {
	background-color: #bababa;
	margin: 0.25em;
	border-radius: 5px;
}

.kanban-list-footer-addItemContainer {
	padding: 5px 11px 5px 5px;
	display: none;
}

.kanban-list-footer-addItem-Container-textarea {
	resize: vertical; 
	max-height: 150px; 
	width: 100%; 
	min-height: 60px
}